<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bit9CarbonBlack.CarbonBlack.Client" version="1.1.5481.26044" targetFramework="net40" requireReinstallation="True" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="NLog" version="3.2.0.0" targetFramework="net45" />
  <package id="NLog.Targets.Syslog" version="2.1.5491.28378" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.94.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.EF6" version="1.0.94.0" targetFramework="net40" requireReinstallation="True" />
  <package id="System.Data.SQLite.Linq" version="1.0.94.1" targetFramework="net40" requireReinstallation="True" />
  <package id="VirusTotal.NET" version="1.2.1" targetFramework="net45" />
</packages>